<nav class="navbar">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="/">home</a></li>
            <li class="navbar-item">
                <a class="navbar-link" href="#" data-popover="#popover">generators</a>
                <div id="popover" class="popover">
                    <ul class="popover-list">
                        <li class="popover-item">
                            <a class="popover-link" href="/ecng">Eric Coumbe Name Generator</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/spy">Spy Name Generator</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/spells">Spell Name Generator</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/meatshields">Meatshield Generator</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/lastgasp">Last Gasp Generator</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
