/*----------- Tabs Setup -------------*/


.charsheet {
    background-color: white;
  font-family: Futura, Copse, Arial, sans-serif;
  font-size:12px;
}

/*this hides the contents of each tab by default*/
.charsheet div[class^="sheet-section"] {  
  display: none;
}


/*this shows the tab content when the appropriate input field is selected*/
.charsheet input.sheet-tab1:checked ~ div.sheet-section-stats,
.charsheet input.sheet-tab2:checked ~ div.sheet-section-gear,
.charsheet input.sheet-tab3:checked ~ div.sheet-section-skills,
.charsheet input.sheet-tab4:checked ~ div.sheet-section-misc,
.charsheet input.sheet-tab5:checked ~ div.sheet-section-classes,
{
  display: block;
}



.charsheet input.sheet-tab99:checked ~ div[class^="sheet-section"] {  
  display: block;
}

/*this hides the radio button for each tab, makes it 100px wide and 40px tall and makes sure it's above everything else*/
.charsheet input.sheet-tab {
      width: 100px;
      height: 40px;
      cursor: pointer;  
  position: relative;
  opacity: 0;
  z-index: 9999;
}

/*this styles the span with the tab information and slides to the left, so it appears underneath the radio button*/
.charsheet span.sheet-tab {
  text-align: center;
  display: inline-block;
  font-size: 13px;  
  background: white;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #83B583;
  
  width: 100px;
    height: 40px;
    cursor: pointer;  
  position: relative;
  vertical-align: middle;
  margin-left: -101px;/*originally 91px*/
}

/*this modifies the span color once the radio button is selected so you know which tab is selected*/
.charsheet input.sheet-tab1:checked + span.sheet-tab1,
.charsheet input.sheet-tab2:checked + span.sheet-tab2,
.charsheet input.sheet-tab3:checked + span.sheet-tab3,
.charsheet input.sheet-tab4:checked + span.sheet-tab4,
.charsheet input.sheet-tab5:checked + span.sheet-tab5,
.charsheet input.sheet-tab99:checked + span.sheet-tab99 {
    
    background: #83B583;
    color: white;
  border-radius: 4px;
}
/*----------- End Tab Setup -----------*/


.charsheet h3 {text-decoration: underline; padding-bottom:5px;}
.charsheet h4 {padding:10px 0 10px 0;}


/*-----cols and rows-----*/

.charsheet .sheet-3colrow .sheet-col  {
    width: calc(32% - 10x) !important;
    margin-right: 5px !important;
    padding: 5px;
}

.charsheet .sheet-3colrow .sheet-col:nth-child(2) {
    width: calc(32% - 10px) !important;
    margin-right:5px;
    padding: 5px;    
}
.charsheet .sheet-3colrow .sheet-col:nth-child(3){
    width: calc(32% - 10px) !important;
    margin-right: 0px !important;
    padding: 5px;
    text-align:right;
}

.charsheet .sheet-2colrowequal .sheet-col {
    width: calc(50% - 10px) !important;
    margin-right: 2px !important;
}

.charsheet .sheet-2colrowequal .sheet-col:nth-child(2) {
    width: calc(50% - 10px) !important;
    margin-right: 2px !important;
}

.charsheet .sheet-2colrow .sheet-col {
    width: calc(25% - 10px) !important;
    margin-right: 2px !important;
}
.charsheet .sheet-2colrow .sheet-col:nth-child(2) {
    width: calc(75% - 10px) !important;
    margin-right: 0 !important;
  border: 1px solid #83B583;
}

.charsheet .sheet-2colrow .sheet-col-reversed {
    width: calc(75% - 3px) !important;
    margin-right: 2px !important;
}
.charsheet .sheet-2colrow .sheet-col-reversed:nth-child(2) {
    width: calc(25% - 3px) !important;
    margin-right: 0 !important;
}


.charsheet .sheet-1colrow .sheet-col {
    width: calc(100% - 3px) !important;
    margin-right: 0 !important;
  border: 1px solid #83B583;
}

.charsheet .sheet-row {
    height: 45px;
    margin: 0 0 2px;
  margin-top:30px;
}


/*----------- End cols -----------*/


.charsheet .sheet-weaponTable {
  width: 100%;
  margin-top:45px;

}
.charsheet .sheet-weaponTable th {
  text-align:center;
}
.charsheet .sheet-weaponTable td {
    padding: 5px;
  text-align: center;
}

.charsheet .sheet-specialTable {
  width: 50%;
}

.charsheet .sheet-specialTable input {
  width: 35px;
  text-align:center;
}

.charsheet .sheet-specialTable th {
  text-align:center;
  text-decoration: underline;
}
.charsheet .sheet-specialTable td {
    padding: 5px;
  text-align: center;
}




.charsheet .sheet-attributeTable td {
    padding: 5px;
}

.charsheet .sheet-attributeTitle {
    font-weight: bold;
}


div.sheet-circle {
    width:3em;
    height:3em;
    border:2px solid gray;
    border-radius:50%;

    background:white;
}

.charsheet .sheet-subrow {
  padding: 10px;
  
}

.charsheet .sheet-grayheader {
    text-align: center;
    background-color: lightgray;
    min-height: 30px;
}




.ui-dialog .charsheet input[type=number] {
    width: 4.5em;
}


.sheet-traitdie {
    width: 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    margin: 0px;
}

.sheet-weaponselect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    margin: 0px;
    width:100px;
}

.sheet-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    margin: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.charsheet label {
  margin:0px;
  font-size:1em;
}

/*this hides the contents of each tab by default*/
.charsheet div[class="sheet-1colrow sheet-barbarian"],
.charsheet div[class="sheet-1colrow sheet-soldier"],
.charsheet div[class="sheet-1colrow sheet-archaeologist"],
.charsheet div[class="sheet-1colrow sheet-bravo"],
.charsheet div[class="sheet-1colrow sheet-leech"],
.charsheet div[class="sheet-1colrow sheet-sorcerer"],
.charsheet div[class="sheet-1colrow sheet-mystic"],
.charsheet div[class="sheet-1colrow sheet-witch"],
.charsheet div[class="sheet-1colrow sheet-murk"],
.charsheet div[class="sheet-1colrow sheet-spriggan"],
.charsheet div[class="sheet-1colrow sheet-night_child"],
.charsheet div[class="sheet-1colrow sheet-pooka"]

{  
  display: none !important;
}

.sheet-isBarbarian:checked ~ .sheet-barbarian {
  display: block !important;
}

.sheet-isSoldier:checked ~ .sheet-soldier {
  display: block !important;
}

.sheet-isArchaeologist:checked ~ .sheet-archaeologist {
  display: block !important;
}

.sheet-isBravo:checked ~ .sheet-bravo {
  display: block !important;
}

.sheet-isLeech:checked ~ .sheet-leech {
  display: block !important;
}

.sheet-isSorcerer:checked ~ .sheet-sorcerer {
  display: block !important;
}

.sheet-isMystic:checked ~ .sheet-mystic {
  display: block !important;
}

.sheet-isWitch:checked ~ .sheet-witch {
  display: block !important;
}

.sheet-isMurk:checked ~ .sheet-murk {
  display: block !important;
}

.sheet-isSpriggan:checked ~ .sheet-spriggan {
  display: block !important;
}

.sheet-isNightChild:checked ~ .sheet-night_child {
  display: block !important;
}

.sheet-isPooka:checked ~ .sheet-pooka {
  display: block !important;
}

/* I can't figure out how to do class selectors for roll templates */
/* Apparently it'll strip [class="foo"] from the start */
/* so it's just a lot of copy/paste.  shitty! */


/* ROLL FIGHT */
.sheet-rolltemplate-toy-fight {
  margin-left: -37px;
}

.withoutavatars .sheet-rolltemplate-toy-fight {
  margin-left: -7px;
}

.sheet-rt-wrapper .sheet-rolltemplate-toy-fight  {
  border: 5px solid;
  /* by default, the border is the same color as the header. You can change this here, e.g. to black */
  border-color: red;
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-toy-fight .sheet-header {
  background-color: #424141;
  text-align: center;
  font-weight:bold;
  color: white;
  padding: 5px;
}



.sheet-rolltemplate-toy-fight .sheet-title {
  font-size:1.1em;
}
.sheet-rolltemplate-toy-fight .sheet-subtitle {
  font-size:.9em;
}

/* example colors */
.sheet-rolltemplate-toy-fight .sheet-container {
  /* this is the default color */
  --header-bg-color: rgba(112,32,130,1);
  --header-text-color: #FFF;
}
.sheet-rolltemplate-toy-fight .sheet-container.sheet-color-red {
  --header-bg-color: #F00;
}
.sheet-rolltemplate-toy-fight .sheet-container.sheet-color-green {
  --header-bg-color: #0F0;
  --header-text-color: #000;
}

/* Allprops part */
.sheet-rolltemplate-toy-fight .sheet-content {
  display: grid;
  background: #FFF;
  /* Header formatting - modify the column layout below */
  grid-template-columns: auto auto;
  /* Line height to match default roll template */
  line-height:1.4em;
}
.sheet-rolltemplate-toy-fight .sheet-content > div {
  padding: 5px;
}

/* Left column */
.sheet-rolltemplate-toy-fight .sheet-content .sheet-key {
  font-weight: bold;
  padding-right: 10px;
  text-align: center;
}

/* Make even-numbered rows grey */
.sheet-rolltemplate-toy-other .sheet-content :nth-child(4n+3),
*[class^="sheet-rolltemplate-toy-"] .sheet-content :nth-child(4n) {
  background:#EEE;
}

/* Description field */
.sheet-rolltemplate-toy-fight .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}

.sheet-rolltemplate-toy-fight .sheet-failure {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: red !important;
}

.sheet-rolltemplate-toy-fight .sheet-success {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: green !important;
}

.sheet-rolltemplate-toy-fight .sheet-damage-crit {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
  border: 1px solid green;
  font-weight: bold;
}

.sheet-rolltemplate-toy-fight .sheet-damage-fumble {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
  border: 1px solid red;
  font-weight: bold;
}


/* ROLL TWENTY */
.sheet-rolltemplate-toy-rolltwenty {
  margin-left: -37px;
}

.withoutavatars .sheet-rolltemplate-toy-rolltwenty {
  margin-left: -7px;
}

.sheet-rt-wrapper .sheet-rolltemplate-toy-rolltwenty  {
  border: 5px solid;
  /* by default, the border is the same color as the header. You can change this here, e.g. to black */
  border-color: red;
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-toy-rolltwenty .sheet-header {
  background-color: #424141;
  text-align: center;
  font-weight:bold;
  color: white;
  padding: 5px;
}



.sheet-rolltemplate-toy-rolltwenty .sheet-title {
  font-size:1.1em;
}
.sheet-rolltemplate-toy-rolltwenty .sheet-subtitle {
  font-size:.9em;
}

/* example colors */
.sheet-rolltemplate-toy-rolltwenty .sheet-container {
  /* this is the default color */
  --header-bg-color: rgba(112,32,130,1);
  --header-text-color: #FFF;
}
.sheet-rolltemplate-toy-rolltwenty .sheet-container.sheet-color-red {
  --header-bg-color: #F00;
}
.sheet-rolltemplate-toy-rolltwenty .sheet-container.sheet-color-green {
  --header-bg-color: #0F0;
  --header-text-color: #000;
}

/* Allprops part */
.sheet-rolltemplate-toy-rolltwenty .sheet-content {
  display: grid;
  background: #FFF;
  /* Header formatting - modify the column layout below */
  grid-template-columns: auto auto;
  /* Line height to match default roll template */
  line-height:1.4em;
}
.sheet-rolltemplate-toy-rolltwenty .sheet-content > div {
  padding: 5px;
}

/* Left column */
.sheet-rolltemplate-toy-rolltwenty .sheet-content .sheet-key {
  font-weight: bold;
  padding-right: 10px;
  text-align: center;
}

/* Make even-numbered rows grey */
.sheet-rolltemplate-toy-rolltwenty .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-toy-rolltwenty .sheet-content :nth-child(4n) {
  background:#EEE;
}

/* Description field */
.sheet-rolltemplate-toy-rolltwenty .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}

.sheet-rolltemplate-toy-rolltwenty .sheet-failure {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: red !important;
}

.sheet-rolltemplate-toy-rolltwenty .sheet-success {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: green !important;
}

/* ROLL SUCCEED */
.sheet-rolltemplate-toy-rollsucceed {
  margin-left: -37px;
}

.withoutavatars .sheet-rolltemplate-toy-rollsucceed {
  margin-left: -7px;
}

.sheet-rt-wrapper .sheet-rolltemplate-toy-rollsucceed  {
  border: 5px solid;
  /* by default, the border is the same color as the header. You can change this here, e.g. to black */
  border-color: red;
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-toy-rollsucceed .sheet-header {
  background-color: #424141;
  text-align: center;
  font-weight:bold;
  color: white;
  padding: 5px;
}



.sheet-rolltemplate-toy-rollsucceed .sheet-title {
  font-size:1.1em;
}
.sheet-rolltemplate-toy-rollsucceed .sheet-subtitle {
  font-size:.9em;
}

/* example colors */
.sheet-rolltemplate-toy-rollsucceed .sheet-container {
  /* this is the default color */
  --header-bg-color: rgba(112,32,130,1);
  --header-text-color: #FFF;
}
.sheet-rolltemplate-toy-rollsucceed .sheet-container.sheet-color-red {
  --header-bg-color: #F00;
}
.sheet-rolltemplate-toy-rollsucceed .sheet-container.sheet-color-green {
  --header-bg-color: #0F0;
  --header-text-color: #000;
}

/* Allprops part */
.sheet-rolltemplate-toy-rollsucceed .sheet-content {
  display: grid;
  background: #FFF;
  /* Header formatting - modify the column layout below */
  grid-template-columns: auto auto;
  /* Line height to match default roll template */
  line-height:1.4em;
}
.sheet-rolltemplate-toy-rollsucceed .sheet-content > div {
  padding: 5px;
}

/* Left column */
.sheet-rolltemplate-toy-rollsucceed .sheet-content .sheet-key {
  font-weight: bold;
  padding-right: 10px;
  text-align: center;
}

/* Make even-numbered rows grey */
.sheet-rolltemplate-toy-rollsucceed .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-toy-rollsucceed .sheet-content :nth-child(4n) {
  background:#EEE;
}

/* Description field */
.sheet-rolltemplate-toy-rollsucceed .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}

.sheet-rolltemplate-toy-rollsucceed .sheet-failure {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: red !important;
}

.sheet-rolltemplate-toy-rollsucceed .sheet-success {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: green !important;
}

.sheet-rolltemplate-toy-rollsucceed .sheet-roll {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}


/* BASIC */
/* ROLL FIGHT */
.sheet-rolltemplate-toy-basic {
  margin-left: -37px;
}

.withoutavatars .sheet-rolltemplate-toy-basic {
  margin-left: -7px;
}

.sheet-rt-wrapper .sheet-rolltemplate-toy-basic  {
  border: 5px solid;
  /* by default, the border is the same color as the header. You can change this here, e.g. to black */
  border-color: red;
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-toy-basic .sheet-header {
  background-color: #424141;
  text-align: center;
  font-weight:bold;
  color: white;
  padding: 5px;
}



.sheet-rolltemplate-toy-basic .sheet-title {
  font-size:1.1em;
}
.sheet-rolltemplate-toy-basic .sheet-subtitle {
  font-size:.9em;
}

/* example colors */
.sheet-rolltemplate-toy-basic .sheet-container {
  /* this is the default color */
  --header-bg-color: rgba(112,32,130,1);
  --header-text-color: #FFF;
}
.sheet-rolltemplate-toy-basic .sheet-container.sheet-color-red {
  --header-bg-color: #F00;
}
.sheet-rolltemplate-toy-basic .sheet-container.sheet-color-green {
  --header-bg-color: #0F0;
  --header-text-color: #000;
}

/* Allprops part */
.sheet-rolltemplate-toy-basic .sheet-content {
  display: grid;
  background: #FFF;
  /* Header formatting - modify the column layout below */
  grid-template-columns: auto auto;
  /* Line height to match default roll template */
  line-height:1.4em;
}
.sheet-rolltemplate-toy-basic .sheet-content > div {
  padding: 5px;
}

/* Left column */
.sheet-rolltemplate-toy-basic .sheet-content .sheet-key {
  font-weight: bold;
  padding-right: 10px;
  text-align: center;
}

/* Make even-numbered rows grey */
.sheet-rolltemplate-toy-basic .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-toy-basic .sheet-content :nth-child(4n) {
  background:#EEE;
}

/* Description field */
.sheet-rolltemplate-toy-basic .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}

.sheet-rolltemplate-toy-basic .sheet-failure {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: red !important;
}

.sheet-rolltemplate-toy-basic .sheet-success {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: green !important;
}
/* USAGE DIE */
/* ROLL FIGHT */
.sheet-rolltemplate-toy-rollud {
  margin-left: -37px;
}

.withoutavatars .sheet-rolltemplate-toy-rollud {
  margin-left: -7px;
}

.sheet-rt-wrapper .sheet-rolltemplate-toy-rollud  {
  border: 5px solid;
  /* by default, the border is the same color as the header. You can change this here, e.g. to black */
  border-color: red;
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-toy-rollud .sheet-header {
  background-color: #424141;
  text-align: center;
  font-weight:bold;
  color: white;
  padding: 5px;
}



.sheet-rolltemplate-toy-rollud .sheet-title {
  font-size:1.1em;
}
.sheet-rolltemplate-toy-rollud .sheet-subtitle {
  font-size:.9em;
}

/* example colors */
.sheet-rolltemplate-toy-rollud .sheet-container {
  /* this is the default color */
  --header-bg-color: rgba(112,32,130,1);
  --header-text-color: #FFF;
}
.sheet-rolltemplate-toy-rollud .sheet-container.sheet-color-red {
  --header-bg-color: #F00;
}
.sheet-rolltemplate-toy-rollud .sheet-container.sheet-color-green {
  --header-bg-color: #0F0;
  --header-text-color: #000;
}

/* Allprops part */
.sheet-rolltemplate-toy-rollud .sheet-content {
  display: grid;
  background: #FFF;
  /* Header formatting - modify the column layout below */
  grid-template-columns: auto auto;
  /* Line height to match default roll template */
  line-height:1.4em;
}
.sheet-rolltemplate-toy-rollud .sheet-content > div {
  padding: 5px;
}

.sheet-rolltemplate-toy-rollud .sheet-roll {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}

/* Left column */
.sheet-rolltemplate-toy-rollud .sheet-content .sheet-key {
  font-weight: bold;
  padding-right: 10px;
  text-align: center;
}

/* Make even-numbered rows grey */
.sheet-rolltemplate-toy-rollud .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-toy-rollud .sheet-content :nth-child(4n) {
  background:#EEE;
}

/* Description field */
.sheet-rolltemplate-toy-rollud .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}

.sheet-rolltemplate-toy-rollud .sheet-failure {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: red !important;
}

.sheet-rolltemplate-toy-rollud .sheet-success {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: green !important;
}



/* ROLL FIGHT */
.sheet-rolltemplate-toy-fight {
  margin-left: -37px;
}

.withoutavatars .sheet-rolltemplate-toy-fight {
  margin-left: -7px;
}

.sheet-rt-wrapper .sheet-rolltemplate-toy-fight  {
  border: 5px solid;
  /* by default, the border is the same color as the header. You can change this here, e.g. to black */
  border-color: red;
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-toy-fight .sheet-header {
  background-color: #424141;
  text-align: center;
  font-weight:bold;
  color: white;
  padding: 5px;
}

/* Roll Skill */
/* The Cascading Part */
.sheet-rolltemplate-toy-skill {
  margin-left: -37px;
}
.withoutavatars .sheet-rolltemplate-toy-skill {
  margin-left: -7px;
}
.sheet-rolltemplate-toy-skill .sheet-header {
  background-color: #424141;
  text-align: center;
  font-weight:bold;
  color: white;
  padding: 5px;
}
.sheet-rolltemplate-toy-skill .sheet-title {
  font-size:1.1em;
}
.sheet-rolltemplate-toy-skill .sheet-subtitle {
  font-size:.9em;
}
.sheet-rolltemplate-toy-skill .sheet-content {
  display: grid;
  background: #FFF;
  grid-template-columns: auto auto;
  line-height:1.4em;
}
.sheet-rolltemplate-toy-skill .sheet-content > div {
  padding: 5px;
}
.sheet-rolltemplate-toy-skill .sheet-failure {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: red !important;
}
.sheet-rolltemplate-toy-skill .sheet-success {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: green !important;
}
/* end The Cascading Part */


