{% extends "layout.html" %}
{% block title %}The Totality of Ygg{% endblock %}

{% block content %}
{% include "navigation.html" %}
<!-- twig: content  -->
<div class="example-section">
    <div class="row">
        <div class="three columns">&nbsp;</div>
        <div class="six columns">
            <h1 class="title" style="margin-top:85px">The Totality of Ygg</h1>
        </div>
    </div>

    <div class="row">
	<div class="three columns">&nbsp;</div>
        <div class="six columns" style="text-align: center">
            <a title="Friedrich Wilhelm Heine (1845-1921). / Public domain" href="https://commons.wikimedia.org/wiki/File:The_Ash_Yggdrasil_by_Friedrich_Wilhelm_Heine.jpg"><img width="1024" class="u-max-full-width" alt="The Ash Yggdrasil by Friedrich Wilhelm Heine" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/The_Ash_Yggdrasil_by_Friedrich_Wilhelm_Heine.jpg/1024px-The_Ash_Yggdrasil_by_Friedrich_Wilhelm_Heine.jpg"></a>
        </div>
            
        <div class="three columns">&nbsp;</div>
    </div>
</div>

<!-- twig: /content  -->
{% include "footer.html" %}
{% endblock %}
