<nav class="navbar">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="/">home</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/rules">rules</a></li>
	    <li class="navbar-item"><a class="navbar-link" href="/sheets">character sheets</a></li>
	    <li class="navbar-item">
        <a class="navbar-link" href="#" data-popover="#worldPop">the world</a>
        <div id="worldPop" class="popover">
            <ul class="popover-list">
                <li class="popover-item">
                <a class="popover-link" href="/world">geography</a>
                </li>
                <li class="popover-item">
                <a class="popover-link" href="/cities">cities</a>
                </li>
            </ul>
        </div>
        </li>
        <li class="navbar-item"><a class="navbar-link" href="/visuals">visuals</a></li>
        </ul>
    </div>
</nav>
