{% extends "layout.html" %}
{% block title %}ToY : The Rules{% endblock %}

{% block content %}
{% include "navigation.html" %}
<!-- twig: content  -->
    <div class="row" style="text-align:center;">
	    <h1 class="title">Rules (Beta)</h1>
        <span style="color:red">Rules Beta v3 coming 3 OCT 2020!</span>
        <!--
	    <ul>
	        <li><a href="https://drive.google.com/open?id=16DmjeIEYh1LS8Sj7RXac7XFSpvnjPQ6x" target="_new">Totality of Ygg Core Rules</a></li>
	        <li><a href="https://drive.google.com/open?id=1bTgV_8_xLqdhoO9NrDp-TMKL9oNtkZUs" target="_new">Bell, Book, &amp; Candle (Spells and Magic)</a></li>
            <li><a href="https://drive.google.com/open?id=1ZsiRvzjD80BxhLpfasnoW5ZgJArEQfUu" target="_new">Signs of the Small Gods (Deities)</a></li>
	    </ul>
        -->
	</div>
    
    <h1 class="title">Changelog</h1>

    <div class="row changelog">
            {% for e in errata %}
            {{e|raw}}
            {% endfor %}
    </div>
<!-- twig: /content  -->
{% include "footer.html" %}
{% endblock %}
