{% extends "layout.html" %}
{% block title %}ToY : The Rules{% endblock %}

{% block content %}
{% include "navigation.html" %}
<!-- twig: content  -->
    <div class="row" style="text-align:center;">
	    <h1 class="title">Rules</h1>
      <a href="https://drive.google.com/file/d/1OJA3U3Zsi1mIbf78OT0_ykF4lBdp2Q2C/view?usp=sharing" target="_new">The Totality of Ygg</a></li>
	</div>
    
    <h1 class="title">Changelog</h1>

    <div class="row changelog">
            {% for e in errata %}
            {{e|raw}}
            {% endfor %}
    </div>
<!-- twig: /content  -->
{% include "footer.html" %}
{% endblock %}
