{% extends "layout.html" %}
{% block title %}ToY : The Rules{% endblock %}

{% block content %}
{% include "navigation.html" %}
<!-- twig: content  -->
<div class="example-section">
    <div class="row">
	<div class="four columns">&nbsp;</div>
	<div class="three columns"><h1 class="title">Character Sheets</h1>
        <p><a href="https://drive.google.com/drive/folders/1zJlaeomomDcF35t8VJ73oWOkgrVCulG2?usp=sharing">All Character Sheets</a></p>
        
        <p><a href="https://drive.google.com/file/d/13-8p0zHNwfDx3VgcKGL_g_HY7TBpmr86/view?usp=sharing" target="_new">Base Character Sheet</a></p>
  
        <p><em>Print this sheet out one one side, and your class sheet below on the other</em></p>
        
    
    </div>
	<div class="three columns">&nbsp;</div>
    </div>
    <div class="row">
	<div class="three columns">&nbsp;</div>
	<div class="three columns">

<h2>Tropes</h2>
<ul>
<li><a href="https://drive.google.com/file/d/1OXXd5Uowzazf1CruTfvvnbi9rl3-zwaJ/view?usp=sharing" target="_new">Knave</a></li>
<li><a href="https://drive.google.com/file/d/13QpMtoAO6jOmUbe4GlAVgsonQza8iBu5/view?usp=sharing" target="_new">Mystic</a></li>
<li><a href="https://drive.google.com/file/d/1ba0-d8XbPRC6IEoHy9ha_x5dBmsKilEr/view?usp=sharing" target="_new">Philosopher</a></li>
<li><a href="https://drive.google.com/file/d/1rR2aNHVu_F3Ox26xxPlmrsOynoRvNG_4/view?usp=sharing" target="_new">Sellsword</a></li>
</ul>

<h2>Species</h2>
<ul>
<li><a href="https://drive.google.com/file/d/1UG3JyI9s9H-HXmhAn_nck7oNFgMlsGgv/view?usp=sharing" target="_new">Murk</a></li>
<li><a href="https://drive.google.com/file/d/1-RpMtUyVoUqju8LKe4V7ElO1mQ2oVVtP/view?usp=sharing" target="_new">Night Child</a></li>
<li><a href="https://drive.google.com/file/d/1qWre_-CXP2o8wx2uVS36pD1QeMgxuiFf/view?usp=sharing" target="_new">Pooka</a></li>
<li><a href="https://drive.google.com/file/d/1AoYTtJXTY_PMtUTRsfovF2t_ezyqTUPa/view?usp=sharing" target="_new">Spriggan</a></li>

</ul>

	</div>
	<div class="three columns">&nbsp;</div>
    </div>
</div>

<!-- twig: /content  -->
{% include "footer.html" %}
{% endblock %}
