{% extends "layout.html" %}
{% block title %}ToY : The Rules{% endblock %}

{% block content %}
{% include "navigation.html" %}
<!-- twig: content  -->
<div class="example-section">
    <div class="row">
	<div class="four columns">&nbsp;</div>
	<div class="three columns"><h1 class="title">Character Sheets</h1>
        <a href="https://drive.google.com/open?id=1rTzaB3dNjlZVi82QCkcpffXbub_DNlBN" target="_new">Base Character Sheet</a>
        <p><em>Print this sheet out one one side, and your class sheet below on the other</em></p>
        
    
    </div>
	<div class="three columns">&nbsp;</div>
    </div>
    <div class="row">
	<div class="three columns">&nbsp;</div>
	<div class="three columns">

<h2>The Rom</h2>
<ul>
<li><a href="https://drive.google.com/open?id=1QmPOe0VvAXHonqXpyRYHINauBDLKv38f" target="_new">Night Child</a></li>
<li><a href="https://drive.google.com/open?id=10smd7ilxzK-153JFq7QY2XmIkiIUZNWE" target="_new">Pooka</a></li>
</ul>

<h2>The Unseelie</h2>
<ul>
<li><a href="https://drive.google.com/open?id=1xtWj61VmKCVItkFLRn59SMV9qhAGLHFY" target="_new">Spriggan</a></li>
<li><a href="https://drive.google.com/open?id=1tSrDJea95wvRenVSsdMea4V5pBRbBIjk" target="_new">Murk</a></li>
</ul>

<h2>The Sellswords</h2>
<ul>
<li><a href="https://drive.google.com/open?id=1e2UTBsh5SKbqiZ518ulgQILNId64LrGW" target="_new">Barbarian</a></li>
<li><a href="https://drive.google.com/open?id=1Sv5Qyj0EOSPwGwr0HtNGlj_RM4fB_63b" target="_new">Soldier</a></li>
</ul>
</div>
<div class="three columns">

<h2>The Knaves</h2>
<ul>
<li><a href="https://drive.google.com/open?id=1QyLrn6NbgD-tBPqg7nQukNR4DkKrqGZo" target="_new">Archaeologist</a></li>
<li><a href="https://drive.google.com/open?id=1khJD52E_4u_Wk6JshwjNZ9k7leogB0dv" target="_new">Bravo</a></li>
</ul>

<h2>The Magicians</h2>
<ul>
<li><a href="https://drive.google.com/open?id=1XTIUjSWzqyiRVu502aoAR-In62rcF2AW" target="_new">Leech</a></li>
<li><a href="https://drive.google.com/open?id=1tc8edB2H_ubjyZIIB93KMwE60GEbBz39" target="_new">Sorcerer</a></li>
</ul>

<h2>The Devotees</h2>
<ul>
<li><a href="https://drive.google.com/open?id=1vB20CEIm07zXi_-APKGy-TQyGxUDFYmB" target="_new">Mystic</a></li>
<li><a href="https://drive.google.com/open?id=1gFqVPdOwBbDvQ69GwWhrnWQhekZlCRsl" target="_new">Witch</a></li>
</ul>

	</div>
	<div class="three columns">&nbsp;</div>
    </div>
</div>

<!-- twig: /content  -->
{% include "footer.html" %}
{% endblock %}
