{% extends "layout.html" %}
{% block title %}ToY : The World{% endblock %}

{% block content %}
{% include "navigation.html" %}
<!-- twig: content  -->

<div class="example-section">
<div class="row">
<h1 class="title">The Worlds of Ygg</h1>
</div>
</div>


<div class="example-section">
    <div class="row">
	<div class="two columns">&nbsp;</div>
	<div class="eight columns">

<h2>Tartarus</h2>

<p>The gas planet of <strong>Tartarus</strong>, thought to be a prison of torment and suffering for the wicked, is circled by 5 moons.  Each moon is roughly 1,600 miles / ~2,575km  in diameter (for scale, our moon is 1,079 miles in diameter).  The surface area of the moons are about 32.2 million square miles, roughly twice the size of Asia.  Tartarus itself (and possibly other planets) circles the distant star Helios.  The five moons are roughly equidistant from one another, meaning that from any single moon someone could see two other moons in the night sky (in addition to the dominant gas giant you orbit, of course).

<img src="/img/tartarus.png" class="u-pull-right u-max-full-width" /></p>

<p>From any one of these moons, Tartarus is faintly visible in the morning light; as the day progresses, a crescent appears on Tartarus as the visible side of the planet becomes lit by Helios.  As the day progresses, Tartarus waxes, becoming full to indicate the coming of night.  The early evening light from Tartarus provides significant illumination - enought to read by - and as the night progresses the gas giant becomes significantly darker.  At this time the other two moons equidistant from you are visible.  The darkest hours are just before dawn.  The sun rises, only to hide behind Tartarus in a spectacular eclipse.  This occurs every day and provides a couple of hours of absolute darkness until the sun appears from behind Tartarus, and the cycle begins anew.</p>

<p>The 5 moons of Tartarus are roughly 1,600 miles / 2,575km in diameter (the Earth moon is 1,079 miles in diameter for reference), and have a surface area of about 32.2 million square miles (roughly twice the size of Asia).</p>

The five moons are:

<ul>
<li>Acheron, the World of Pain (Aerth in the Old Words)</li>
<li>Cocytus, the World of Lamentation (Sigurd in the Old Words)</li>
<li>Phlegethon, the World of Fire (Arris in the Old Words)</li>
<li>Styx, the World of Hate (Aphros in the Old Words)</li>
<li>Lethe, the World of Oblivion (Marcus in the Old Words)</li>
</ul>


<p>Our initial stories begin on the moon of Acheron ...</p>
 

	</div>
    </div>

<div class="row">
	<div class="two columns">&nbsp;</div>
	<div class="eight columns">
	<h3>Acheron</h3>
<p>From Acheron, you are able to see the moons Cocytus and Phlegethon (called Shul and Sin by the common folk, respectively).  The lunar cycle of Shul is the most important to the northern folk of Acheron; its phases are broken into 5 segments of 6 days each - the Void or Dark moon (when it cannot be seen because of the position of Acheron relative to the shadow of Tartarus), the New moon (when it appears in the sky), then Waxing, Full, and Waning. </p> 

<p>Acheron completes a rotation on its axis every 27 hours (so a day is 27 hours long).  Acheron completes a rotation around Tartarus every 360 days.  Acheron tips away from Tartarus at the northernmost point, and it generally maintains its position relative to the light from Tartarus; this means the "north" part of Acheron is always cold, and the "south" part is always warm.</p>

Because of these celestial mechanics, the people of Acheron have created a calendar which:
1.  Has 360 days in a year
2.  Has 5 weeks of 6 days in a lunar month
3.  Has 12 lunar months in a year


	</div>
</div>

<div class="row">
<div class="two columns">&nbsp;</div>
<div class="eight columns"><h4>Biomes</h4><img src="/img/acheron_biomes.png" /></div>
<div class="two columns"><h4>Key</h4><img src="/img/biomes_key.png" /></div>
</div>



<div class="row">
<div class="two columns">&nbsp;</div>
<div class="eight columns"><h4>States</h4><img src="/img/acheron_states.png" /></div>
</div>

<div class="row">
<div class="two columns">&nbsp;</div>
<div class="eight columns"><h4>Northern Map (detail)</h4><img src="/img/acheron_north.png" /></div>
</div>

<div class="row">
<div class="two columns">&nbsp;</div>
<div class="eight columns"><h4>Southern Map (detail)</h4><img src="/img/acheron_south.png" /></div>
</div>





</div>
<!-- twig: /content  -->
{% include "footer.html" %}
{% endblock %}
